In [4]:

from data.data_loader import load_data
df = load_data()
df.head()

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,NaN,Other,0,0
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,NaN,Service,0,0
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1

In [5]:
print(f"\nDimensions: {df.shape}")
print(f"\nType of Data:\n{df.dtypes}")

Dimensions: (10000, 16)

Type of Data:
ID                           int64
Age                          int64
Gender                      object
Country                     object
Coffee_Intake              float64
Caffeine_mg                float64
Sleep_Hours                float64
Sleep_Quality               object
BMI                        float64
Heart_Rate                   int64
Stress_Level                object
Physical_Activity_Hours    float64
Health_Issues               object
Occupation                  object
Smoking                      int64
Alcohol_Consumption          int64
dtype: object

In [6]:
print(f"\nMissing Values:\n{df.isnull().sum()}")

Missing Values:
ID                            0
Age                           0
Gender                        0
Country                       0
Coffee_Intake                 0
Caffeine_mg                   0
Sleep_Hours                   0
Sleep_Quality                 0
BMI                           0
Heart_Rate                    0
Stress_Level                  0
Physical_Activity_Hours       0
Health_Issues              5941
Occupation                    0
Smoking                       0
Alcohol_Consumption           0
dtype: int64

In [7]:
# Statistiques pour variables numériques spécifiques

num_vars = ['Age', 'Coffee_Intake', 'Caffeine_mg', 'Sleep_Hours', 
            'BMI', 'Heart_Rate', 'Physical_Activity_Hours', 'Smoking', 'Alcohol_Consumption']


for var in num_vars:
    print(f"\n{var}:")
    print(f"  Mean: {df[var].mean():.2f}")
    print(f"  Mediane: {df[var].median():.2f}")
    print(f"  Écart-type: {df[var].std():.2f}")
    print(f"  Min: {df[var].min():.2f} | Max: {df[var].max():.2f}")

Age:
  Mean: 34.95
  Mediane: 34.00
  Écart-type: 11.16
  Min: 18.00 | Max: 80.00

Coffee_Intake:
  Mean: 2.51
  Mediane: 2.50
  Écart-type: 1.45
  Min: 0.00 | Max: 8.20

Caffeine_mg:
  Mean: 238.41
  Mediane: 235.40
  Écart-type: 137.75
  Min: 0.00 | Max: 780.30

Sleep_Hours:
  Mean: 6.64
  Mediane: 6.60
  Écart-type: 1.22
  Min: 3.00 | Max: 10.00

BMI:
  Mean: 23.99
  Mediane: 24.00
  Écart-type: 3.91
  Min: 15.00 | Max: 38.20

Heart_Rate:
  Mean: 70.62
  Mediane: 71.00
  Écart-type: 9.82
  Min: 50.00 | Max: 109.00

Physical_Activity_Hours:
  Mean: 7.49
  Mediane: 7.50
  Écart-type: 4.32
  Min: 0.00 | Max: 15.00

Smoking:
  Mean: 0.20
  Mediane: 0.00
  Écart-type: 0.40
  Min: 0.00 | Max: 1.00

Alcohol_Consumption:
  Mean: 0.30
  Mediane: 0.00
  Écart-type: 0.46
  Min: 0.00 | Max: 1.00